src/
├── phaser-esm.js
├── phaser-arcade-physics.js
├── animations
│   └── config.json
├── physics
│   ├── matter-js
│   │   ├── lib
│   │   └── poly-decomp
│   └── RTree.js
├── renderer
│   └── webgl
│       └── shaders
├── geom
│   └── polygon
│       └── Earcut.js
├── utils
│   ├── array
│   │   └── StableSort.js
│   └── object
│       └── Extend.js
└── layer3d

plugins/
├── spine
│   ├── dist
│   └── src
│       └── runtimes
└── ...

scripts/
└── ...

webpack.*
webpack.config.js
webpack-nospector.config.js
webpack.dist.config.js
webpack.fb.config.js
webpack.fb.dist.config.js
