# Set the default behavior for text files, in case people don't have core.autocrlf set.
* text=auto

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
*			text
*.js		text
*.ts		text
*.md		text
*.json	text
*.vert	text
*.frag	text

# Denote all files that are truly binary and should not be modified.
*.png		binary
*.jpg		binary
*.jpeg	binary
*.ico		binary
*.gif		binary
*.mov		binary
*.avi		binary
*.mp4		binary
*.mpeg	binary
*.tiff	binary
*.tif		binary
*.zip		binary
*.rar		binary
*.7z		binary
*.gz		binary
*.archive	binary
*.exe		binary
*.dll		binary
*.so		binary
*.bin		binary
*.hex		binary
*.class	binary
*.jar		binary
*.war		binary
*.ear		binary
*.tar		binary
*.iso		binary
*.img		binary
*.pdf		binary
*.doc		binary
*.docx	binary
*.xls		binary
*.xlsx	binary
*.ppt		binary
*.pptx	binary
*.ttf		binary
*.otf		binary
*.eot		binary
*.woff	binary
*.woff2	binary
*.svg		binary
*.xml		binary
*.css		binary
*.scss	binary
*.sass	binary
*.less	binary
*.html	binary
*.htm		binary
*.jsp		binary
*.php		binary
*.aspx	binary
*.cs		binary
*.java	binary
*.jsx	binary
*.tsx	binary
*.swift	binary
*.vb		binary
*.vbnet	binary
*.py		
